<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barthleme Madlib</title>
</head>
<body>
  <div class="container">
    <h1>I Bought a Little City</h1>
    <div class="madlibs">
    <form id="madlib-input">
    <div class="form-group">
      <label for="formGroupExampleInput">Your Name</label>
      <input type="text" class="form-control" id="user-name" placeholder="Hailey Gaylor" required>
    </div>
    
  </form>
  <div class="submit-button">
  <button type="submit" value="Submit" class="btn btn-primary" id="sub-btn">Turn this Sadlib into a Madlib!</button>
  </div>
    </div>
</body>
</html>