<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" <title>
  Barthleme Madlib</title>
</head>

<body>
  <div class="container">
    <h1>I Bought a Little City</h1>
    <form action="/story" id="user-input">
      <div class="form-group">
        <label for="fastFoodName">Enter the name of a fast food restaurant.</label>
        <input type="text" class="form-control" name="fastFoodName" id="fastFoodName" placeholder="5 Guys" required>
      </div>
        <div class="form-group">
        <label for="fastFoodItem">Enter the name of an item you can order at that restaurant.</label>
        <input type="text" class="form-control" name="fastFoodItem" id="fastFoodItem" placeholder="juicy burger with everything" required>
      </div>
      <button type="submit">Generate my story</button>
    </form>
  </div>
</body>

</html>