<!DOCTYPE html>
<html>

<head>
  <title>Madlibs Generator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <p>So I bought a little city (it was Galveston, Texas) and told everybody that nobody had to move, we were going to
      do it just gradually, very relaxed, no big changes overnight, They were pleased and suspicious.&nbsp;</p>
    <p>1 walked down to the harbor where there were cotton warehouses and fish markets and all sorts of installations
      having to do with the spread of petroleum throughout the Free World, and I thought, A few apple trees here might
      be nice. Then 1 walked out on this broad boulevard which has all these tall thick palm trees maybe forty feet high
      in the center and oleanders on both sides, it runs for blocks and blocks and ends up opening up to the broad Gulf
      of Mexico&mdash;stately homes on both sides and a big Catholic church that looks more like a mosque and the
      Bishop&apos;s Palace and a handsome red brick affair where the Shriners meet. 1 thought, What a nice little city,
      it suits me fine.</p>
    <p>It suited me fine so 1 started to change it. But softly, softly, I asked some folks to move out of a whole city
      block on I Street, and then I tore down their houses. I put the people into the Galvez Hotel, which is the nicest
      hotel in town, right on the seawall, and I made sure that every room had a beautiful view Those people had wanted
      to stay at the Galvez Hotel all their lives and never had a chance before because they didn&apos;t have the money.
      They were delighted. I tore down their houses and made that empty block a park. We planted it all to hell and put
      some nice green iron benches in it and a little fountain&mdash;-all standard stuff, we didn&apos;t try to be
      imaginative.</p>
    <p>I was pleased.&nbsp;</p>
    <p>All the people who lived in the four blocks surrounding the empty block had something they hadn&apos;t had
      before, a park. They could sit in it, and like that. I went and watched them sitting in it. There was already a
      black man there playing bongo drums. I hate bongo drums. I started to tell him to stop playing those goddamn bongo
      drums but then I said to myself, No, that&apos;s not right. You got to let him play his goddamn bongo drums if he
      feels like it, it&apos;s part of the misery of democracy, to which I subscribe.&nbsp;</p>
    <p>Then I started thinking about new housing for the people I had displaced, they couldn&apos;t stay in that fancy
      hotel forever. But I didn&apos;t have any ideas about new housing, except that it shouldn&apos;t be too
      imaginative. So I got to talking to one of these people, one of the ones we had moved out, guy by the name of Bill
      Caulfield who worked in a wholesale-tobacco place down on Mechanic Street.&nbsp;</p>
    <p>&quot;So what kind of a place would you like to live in?&quot; I asked him.</p>
    <p>&quot;Well, &quot;he said, &quot;not too big.&quot;</p>
    <p>&quot;Uh-huh.&quot;</p>
    <p>&quot;Maybe with a veranda around three sides,&quot; he said, &quot;so we could sit on it and look out. A
      screened porch, maybe.&quot;</p>
    <p>&quot;Whatcha going to look out at?&quot;</p>
    <p>&quot;Maybe some trees and, you know, the lawn.&quot;</p>
    <p>&quot;So you want some ground around the house.&quot;</p>
    <p>&quot;That would be nice, yeah.&quot;</p>
    <p>&quot;&apos;Bout how much ground are you thinking of?&quot;</p>
    <p>&quot;Well, not too much.&quot; &quot;You see, the problem is, there&apos;s only x amount of ground and
      everybody&apos;s going to want to have it to look at and at the same time they don&apos;t want to be staring at
      the neighbors. Private looking, that&apos;s the thing.&quot;</p>
    <p>&quot;Well, yes,&quot; he said. &quot;I&apos;d like it to be kind of private.&quot; </p>
    <p>&quot;Well,&quot; I said, &quot;get a pencil and let&apos;s see what we can work out.&quot; </p>
    <p>We started with what there was going to be to look at, which was damned difficult. Because when you look you
      don&apos;t want to be able to look at just one thing, you want to be able to shift your gaze. You need to be able
      to look at at least three things, maybe four. Bill Caulfield solved the problem. He showed me a box. I opened it
      up and inside was a jigsaw puzzle with a picture of the Mona Lisa on it.</p>
    <p> &quot;Lookee here,&quot; he said. &quot;If each piece of ground was like a piece of this-here puzzle, and the
      tree line on each piece of property followed the outline of a piece of the puzzle&mdash;well, there you have it,
      QED and that&apos;s all she wrote.&quot; </p>
    <p>&quot;Fine,&quot; I said. &quot;Where are the folk going to park their cars?&quot; </p>
    <p>&quot;In the vast underground parking facility,&quot; he said. </p>
    <p>&quot;OK, but how does each householder gain access to his household?&quot;</p>
    <p>&quot;The tree lines are double and shade beautifully paved walk- ways possibly bordered with begonias,&quot; he
      said. </p>
    <p>&quot;A lurkway for potential muggists and rapers,&quot; I pointed out. </p>
    <p>&quot;There won&apos;t be any such,&quot; Caulfield said, &quot;because you&apos;ve bought our whole city and
      won&apos;t allow that class of person to hang out here no more.&quot; </p>
    <p>That was right. I had bought the whole city and could probably do that. I had forgotten. </p>
    <p>&quot;Well,&quot; I said finally, &quot;let&apos;s give &apos;er a try. The only thing I don&apos;t like about it
      is that it seems a little imaginative.&quot; </p>
    <p>We did and it didn&apos;t work out badly. There was only one complaint. A man named A. G Bartie came to see me.
    </p>
    <p>&quot;Listen,&quot; he said, his eyes either gleaming or burning, I couldn&apos;t tell which, it was a cloudy
      day, &quot;I feel like I&apos;m living in this gigantic jiveass jigsaw puzzle.&quot; </p>
    <p>He was right. Seen from the air, he was living in the middle of a titanic reproduction of the Mona Lisa, too, but
      I thought it best not to mention that. We allowed him to square off his property into a standard 60 X 100 foot lot
      and later some other people did that too&mdash;some people just like rectangles, I guess. I must say it improved
      the concept. You run across an occasional rectangle in Shady Oaks (we didn&apos;t want to call the development
      anything too imaginative) and it surprises you. That&apos;s nice.</p>
    <p> I said to myself: </p>
    <p>&nbsp;<em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Got a little city </em></p>
    <p><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Ain&apos;t it pretty</em>
    </p>
    <p>By now I had exercised my proprietorship so lightly and if I do say so myself tactfully that I wondered if I was
      enjoying myself enough (and I had paid a heavy penny too&mdash;near to half my fortune). So I went out on the
      streets then and shot six thousand dogs. This gave me great satisfaction and you have no idea how wonderfully it
      improved the city for the better. This left us with a dog population of 165,000, as opposed to a human population
      of something like 89,000.</p>
    <p>Then I went down to the Galveston News, the morning paper, and wrote an editorial denouncing myself as the vilest
      creature the good God had ever placed upon the earth, and were we, the citizens of this fine community, who were
      after all free Americans of whatever race or creed, going to sit still while one man, one man, if indeed so vile a
      critter could be so called, etc. etc.? I gave it to the city desk and told them I wanted it on the front page in
      fourteen-point type, boxed. 1 did this just in case they might have hesitated to do it themselves, and because
      I&apos;d seen that Orson Welles picture where the guy writes a nasty notice about his own wife&apos;s terrible
      singing, which I always thought was pretty decent of him, from some points of view. </p>
    <p>A man whose dog I&apos;d shot came to see me. &quot;You shot Butch,&quot; he said. </p>
    <p>&quot;Butch? Which one was Butch?&quot; </p>
    <p>&quot;One brown ear and one white ear,&quot; he said. &quot;Very friendly.&quot; </p>
    <p>&quot;Mister,&quot; I said, &quot;I&apos;ve just shot six thousand dogs, and you expect me to remember
      Butch?&quot; </p>
    <p>&quot;Butch was all Nancy and me had,&quot; he said. &quot;We never had no children.&quot; </p>
    <p>&quot;Well, I&apos;m sorry about that,&quot; I said, &quot;but I own this city.&quot; </p>
    <p>&quot;I know that, &quot;he said. </p>
    <p>&quot;I am the sole owner and I make all the rules.&quot; </p>
    <p>&apos;They told me,&quot; he said. </p>
    <p> &quot;I&apos;m sorry about Butch but he got in the way of the big campaign. You ought to have had him on a
      leash.&quot;&nbsp;</p>
    <p>&quot;I don&apos;t deny it,&quot; he said.</p>
    <p> &quot;You ought to have had him inside the house.&quot; </p>
    <p>&quot;He was just a poor animal that had to go out sometimes.&quot;&nbsp;</p>
    <p>&quot;And mess up the streets something awful?&quot; </p>
    <p>&quot;Well,&quot; he said, &quot;it&apos;s a problem. I just wanted to tell you how I feel.&quot; </p>
    <p>&quot;You didn&apos;t tell me,&quot; I said. &quot;How do you feel?&quot;</p>
    <p> &quot;I feel like busttn&apos; your head,&quot; he said, and showed me a short length of pipe he had brought
      along for the purpose. </p>
    <p>&quot;But of course if you do that you&apos;re going to get your ass in a lot of trouble,&quot; I said. &quot;I
      realize that.&quot; </p>
    <p>&quot;It would make you feel better, but then I own the jail and the judge and the police and the local chapter
      of the American Civil Liberties Union. All mine. I could hit you with a writ of mandamus.&quot;</p>
    <p> &quot;You wouldn&apos;t do that.&quot; </p>
    <p>&quot;I&apos;ve been known to do worse.&quot; </p>
    <p>&quot;You&apos;re a black-hearted man,&quot; he said. &quot;I guess that&apos;s it You&apos;ll roast in Hell in
      the eternal flames and there will be no mercy or cooling drafts from any quarter.&quot; </p>
    <p>He went away happy with this explanation. I was happy to be a black-hearted man in his mind if that would satisfy
      the issue between us because that was a bad-looking piece of pipe he had there and I was still six thousand dogs
      ahead of the game, in a sense.&nbsp;</p>
    <p>So I owned this little city which was very, very pretty and I couldn&apos;t think of any more new innovations
      just then or none that wouldn&apos;t get me punctuated like the late Huey P. Long, former governor of Louisiana.
      The thing is, I had fallen in love with Sam Hong&apos;s wife.&nbsp;</p>
    <p>I had wandered into this store on Tremont Street where they sold Oriental novelties, paper lanterns, and cheap
      china and bamboo birdcages and wicker footstools and all that kind of thing. She was smaller than I was and I
      thought I had never seen that much goodness in a woman&apos;s face before. It was hard to credit. It was the best
      face I&apos;d ever seen. &quot;I can&apos;t do that,&quot; she said, &quot;because I am married to
      Sam.&quot;&nbsp;</p>
    <p>&quot;Sam?&quot;</p>
    <p> She pointed over to the cash register where there was a Chinese man, young and intelligent-looking and pouring
      that intelligent look at me with considered unfriendliness. </p>
    <p>&quot;Well, that&apos;s dismal news,&quot; I said. &apos;Tell me, do you love me?&quot; </p>
    <p>&quot;A little bit,&quot; she said, &quot;but Sam is wise and kind and we have one and one-third lovely
      children.&quot; </p>
    <p>She didn&apos;t look pregnant but I congratulated her anyhow, and then went out on the street and found a cop and
      sent him down to H Street to get me a bucket of Colonel Sanders&apos; Kentucky Fried Chicken, extra crispy. I did
      that just out of meanness. He was humiliated but he had no choice.&nbsp;</p>
    <p>I thought: </p>
    <p><em>I own a little city </em></p>
    <p><em>Awful pretty </em></p>
    <p><em>Can&apos;t help people </em></p>
    <p><em>Can hurt them though </em></p>
    <p><em>Shoot their dogs </em></p>
    <p><em>Mess &apos;em up </em></p>
    <p><em>Be imaginative </em></p>
    <p><em>Plant trees </em></p>
    <p><em>Best to leave &apos;em alone? </em></p>
    <p><em>Who decides? </em></p>
    <p><em>Sam&apos;s wife is Sam&apos;s wife and coveting </em></p>
    <p><em>Is not nice.</em>
    </p>
    <p>So I ate the Colonel Sanders&apos; Kentucky Fried Chicken, extra crispy, and sold Galveston, Texas, back to the
      interests. I took a bath on that deal, there&apos;s no denying it, but I learned something&mdash;don&apos;t play
      God. A lot of other people already knew that, but I have never doubted for a minute that a lot of other people are
      smarter than me, and figure things out quicker, and have grace and statistical norms on their side.&nbsp;</p>
    <p>Probably I went wrong by being too imaginative, although really I was guarding against that. I did very little, I
      was fairly restrained. God does a lot worse things, every day, in one little family, any family, than I did in
      that whole city. But He&apos;s got a better imagination than I do.&nbsp;</p>
    <p>For instance, I still covet Sam Hong&apos;s wife. That&apos;s torment. Still covet Sam Hong&apos;s wife, and
      probably always will. It&apos;s like having a tooth pulled. For a year. The same tooth. That&apos;s a sample of
      His imagination. It&apos;s powerful. </p>
    <p>So what happened? What happened was that I took the other half of my fortune and went to Galena Park, Texas, and
      lived inconspicuously there, and when they asked me to run for the school board I said No, I don&apos;t have any
      children.</p>
  </div>
</body>

</html>